<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pro Blogs</title>
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Pro Blogs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/compose">Compose</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blogs">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
<!-- =======================================header part============================= -->

<div class="main-compose container-fluid">
  <h1>New Blog</h1>
      <form action="/compose" method="POST" class="compose-form">
        <input type="text" class="form-control mb-3" name="blogTitle" placeholder="Blog Title">
        <textarea class="form-control mb-3" name="blogTitle" placeholder="Blog Content"></textarea>
        <!-- file upload option -->
        <!-- <input class="btn form-control mb-3" type="file" name="" id=""> -->
        <button type="submit" class="btn btn-lg btn-success">Post</button>
      </form>
</div>


<%- include("partials/footer") -%>