<%- include("partials/header") -%>




<div class="home-main container-fluid">
<div class="row">
    <div class="col-lg-4">
        <div class="title">
            <h3>Need A Place To Write ?</h3>
            <h1 class="title-text">Pro Bolgs</h1>
            <h3>Is Here.</h3>    
        </div>
       <a href="/register" class="btn btn-lg btn-outline-dark mr-2">Register</a>
       <a href="/login" class="btn btn-lg btn-dark">Login</a>

    </div>
    <div class="col-lg-4">
        <img src="images/blog2-bg.svg" alt="">
    </div>
</div>
</div>














<%- include("partials/footer") -%>